.container {
  display: flex;
  flex-direction: column;
}

.highline {
  cursor: pointer;
}

.highlineMarked {
  background-color: rgba(0, 0, 0, 0.1);
}

.highline:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.headerRow {
  background-color: skyblue;
}

.cellData {
  border-right: 1px solid red;
}
