<amb-title>
  <!--   <span moduleTitle>Medic</span>
  <span moduleIcon>medic</span> -->
  <button mat-flat-button color="primary" btnAction>
    <mat-icon>add</mat-icon>
    Add medic
  </button>
</amb-title>
<amb-container>
  <perfect-scrollbar class="heightMaxPerfectScrollbar">
    <amb-table [metaColumns]="metaColumns" [dataSource]="dataSource">
    </amb-table>
  </perfect-scrollbar>
  <amb-paginator
    [length]="quantityRecords"
    [pageSize]="pageSize"
    (onChangePage)="getRecordsByPage($event)"
  ></amb-paginator>
</amb-container>
