<form fxLayout="column" [formGroup]="group">
  <h1>Sistema de Historias Médicas</h1>
  <h2>Credenciales</h2>
  <mat-form-field appearance="outline">
    <mat-label>Correo</mat-label>
    <input type="text" matInput formControlName="correo" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput formControlName="password" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="login()"
    type="button"
    [disabled]="group.invalid"
  >
    Ingresar
  </button>
</form>
